@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

#home {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "hd hd hd hd hd"
    "as ma ma ma ma"
    "as ma ma ma ma"
    "as ma ma ma ma"
    "fo fo fo fo fo";
  gap: 0;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "hd hd hd hd hd"
    "ma ma ma ma ma"
    "ma ma ma ma ma"
    "ma ma ma ma ma"
    "fo fo fo fo fo";
  gap: 0;
  margin: 0;
  padding: 0;
}

header {
  grid-area: hd;
  background: lightblue;
}

aside {
  grid-area: as;
  background: lightgreen;
}

main {
  grid-area: ma;
  background: lightcoral;
}

#home {
  grid-area: ma;
  background: lightcoral;
}

footer {
  grid-area: fo;
  background: lightgray;
}

article {
  display: flex;
  flex-direction: column;
  width: 300px; 
  background: #fff;
  padding: 10px;
}

img {
  width: 150px;
  height: 150px;
}

table {

}

tr {

}

td{

}
.error {
  color: red;
}

.no-error {
  color: green;
}

.datos-usuario{

}

.popup{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
  padding: 30px;
  background-color: #fff;
}
